force-app/main/default/flows/Cancel_Vacancy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Vacancy_Cancel</name>
        <label>Vacancy Cancel</label>
        <locationX>215</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>vacancy.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Vacancy</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>It_can_be_cancelled</name>
        <label>It can be cancelled?</label>
        <locationX>399</locationX>
        <locationY>157</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opened</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vacancy.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vacancy.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vacancy_Cancel</targetReference>
            </connector>
            <label>Opened?</label>
        </rules>
    </decisions>
    <interviewLabel>Cancel Vacancy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Vacancy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getVacancy</name>
        <label>getVacancy</label>
        <locationX>335</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>It_can_be_cancelled</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVacancyId</elementReference>
            </value>
        </filters>
        <object>Vacancy__c</object>
        <outputReference>vacancy</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Responsible__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vacancy</name>
        <label>Update Vacancy</label>
        <locationX>309</locationX>
        <locationY>407</locationY>
        <inputReference>vacancy</inputReference>
    </recordUpdates>
    <startElementReference>getVacancy</startElementReference>
    <status>Active</status>
    <variables>
        <name>vacancy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vacancy__c</objectType>
    </variables>
    <variables>
        <name>varVacancyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
