force-app/main/default/flows/Hire_Candidate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_candidate_hired</name>
        <label>Set candidate hired</label>
        <locationX>361</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CandidateToHire.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hired</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CandidateToHire.Vacancies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varVacancyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Candidate</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Hire Candidate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hire Candidate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Candidate_Vacancies</name>
        <label>Delete Candidate Vacancies</label>
        <locationX>452</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>Delete_Vacancies_Candidate</targetReference>
        </connector>
        <filters>
            <field>Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedCandidateId</elementReference>
            </value>
        </filters>
        <object>VacancyCandidateAssociation__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Vacancies_Candidate</name>
        <label>Delete Vacancies Candidate</label>
        <locationX>452</locationX>
        <locationY>494</locationY>
        <filters>
            <field>Vacancy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVacancyId</elementReference>
            </value>
        </filters>
        <object>VacancyCandidateAssociation__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Candidate_to_hire</name>
        <label>Get Candidate to hire</label>
        <locationX>218</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_candidate_hired</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedCandidateId</elementReference>
            </value>
        </filters>
        <object>Candidate__c</object>
        <outputReference>CandidateToHire</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Candidate</name>
        <label>Update Candidate</label>
        <locationX>452</locationX>
        <locationY>150</locationY>
        <connector>
            <targetReference>Delete_Candidate_Vacancies</targetReference>
        </connector>
        <inputReference>CandidateToHire</inputReference>
    </recordUpdates>
    <startElementReference>Get_Candidate_to_hire</startElementReference>
    <status>Active</status>
    <variables>
        <name>CandidateToHire</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Candidate__c</objectType>
    </variables>
    <variables>
        <name>otherVacancies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vacancy__c</objectType>
    </variables>
    <variables>
        <name>otherVacancy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vacancy__c</objectType>
    </variables>
    <variables>
        <name>RemoveCandidateToVacancy</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VacancyCandidateAssociation__c</objectType>
    </variables>
    <variables>
        <name>selectedCandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vacancy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vacancy__c</objectType>
    </variables>
    <variables>
        <name>varVacancyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
