force-app/main/default/flows/Screen_Close_Vacancy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Status_to_Closed</name>
        <label>Set Status to Closed</label>
        <locationX>210</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>vacancy.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vacancy.Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedCandidateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Vacancy</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Can_be_closed</name>
        <label>Can be closed?</label>
        <locationX>551</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_opened</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vacancy.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vacancy.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_about_Candidates</targetReference>
            </connector>
            <label>Is opened</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_about_Candidates</name>
        <label>What about Candidates?</label>
        <locationX>335</locationX>
        <locationY>325</locationY>
        <defaultConnector>
            <targetReference>Cancel_this_Vacancy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Candidate_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vacancy.Number_Of_Candidates__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_one_of_assigned_Candidates</targetReference>
            </connector>
            <label>Has Candidate assigned</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>assignedCandidates</name>
        <dataType>String</dataType>
        <displayField>Candidate_Details__c</displayField>
        <filters>
            <field>Vacancy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVacancyId</elementReference>
            </value>
        </filters>
        <object>VacancyCandidateAssociation__c</object>
        <outputAssignments>
            <assignToReference>selectedCandidateId</assignToReference>
            <field>Candidate__c</field>
        </outputAssignments>
        <valueField>Candidate__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Screen Close Vacancy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Vacancy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getVacancy</name>
        <label>getVacancy</label>
        <locationX>342</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Can_be_closed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVacancyId</elementReference>
            </value>
        </filters>
        <object>Vacancy__c</object>
        <outputReference>vacancy</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Responsible__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Candidate__c</queriedFields>
        <queriedFields>Number_Of_Candidates__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vacancy</name>
        <label>Update Vacancy</label>
        <locationX>348</locationX>
        <locationY>700</locationY>
        <inputReference>vacancy</inputReference>
    </recordUpdates>
    <screens>
        <name>Get_one_of_assigned_Candidates</name>
        <label>Get one of assigned Candidates</label>
        <locationX>207</locationX>
        <locationY>430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Hire_Candidate</targetReference>
        </connector>
        <fields>
            <name>Please_select_Candidate</name>
            <fieldText>&lt;p&gt;Please select Candidate for this Vacancy&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Candidate</name>
            <choiceReferences>assignedCandidates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Candidate</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getVacancy</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Cancel_this_Vacancy</name>
        <label>Cancel this Vacancy</label>
        <locationX>584</locationX>
        <locationY>414</locationY>
        <flowName>Cancel_Vacancy</flowName>
    </subflows>
    <subflows>
        <name>Hire_Candidate</name>
        <label>Hire Candidate</label>
        <locationX>68</locationX>
        <locationY>570</locationY>
        <connector>
            <targetReference>Set_Status_to_Closed</targetReference>
        </connector>
        <flowName>Hire_Candidate</flowName>
        <inputAssignments>
            <name>selectedCandidateId</name>
            <value>
                <elementReference>selectedCandidateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varVacancyId</name>
            <value>
                <elementReference>varVacancyId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CandidateToHire</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Candidate__c</objectType>
    </variables>
    <variables>
        <name>cnadidates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Candidate__c</objectType>
    </variables>
    <variables>
        <name>otherVacancies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vacancy__c</objectType>
    </variables>
    <variables>
        <name>otherVacancy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vacancy__c</objectType>
    </variables>
    <variables>
        <name>selectedCandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vacancy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vacancy__c</objectType>
    </variables>
    <variables>
        <name>varVacancyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
